<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitecrow.blog.mapper.BlogLikeMapper">

    <resultMap id="BaseResultMap" type="com.whitecrow.blog.model.domain.BlogLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="blogId" column="blog_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blog_id,user_id,
        create_time,update_time
    </sql>

    <select id="selectBlogAndUser" resultMap="BaseResultMap" parameterType="map" >
        SELECT blog_id , user_id
        from blog_like
        where blog_id=#{blogId} and user_id=#{userId};
    </select>

    <update id="deleteBlogAndUser" parameterType="map">
        DELETE
        from blog_like
        where blog_id=#{blogId} and user_id=#{userId};
    </update>
</mapper>
